In [5]:
def web_spider(browser):
    page_str = browser.page_source   #獲得源碼
    pattern = "<tr bgcolor=\"ivory\"[\s\S]*?</tr>"  
    data_list = re.findall( pattern, page_str)   #依照pattern 獲取字串，存入list 
    ans = []
    try:
        pattern2 = "<td align=\"right\" class=\"12bk\">[\s\S]*?</td>"
        answer_list = re.findall(pattern2, data_list[0])  
        for i in range(4):
            ans.append(int(answer_list[i].split("<td align=\"right\" class=\"12bk\">")[1].split("</td>")[0]) )  #切出目標字串
        ans.append(page_str.split("<h3 align=\"left\">日期：")[1].split("</h3>")[0])
    except:
        ans = [ ]
    return ans

In [10]:
from selenium import webdriver as wb
import re
import time
import random
import pandas as pd
from pandas import DataFrame

options = wb.ChromeOptions()    #設定webdriver的選項
options.add_experimental_option('excludeSwitches', ["enable-automation"])  #在選項中加入" 開發者模式" 
browser = wb.Chrome(options = options)   #在webdriver中加入選項 
browser.get("https://www.taifex.com.tw/cht/3/futDailyMarketReport")  #台指期網址
pages = int(input("要幾頁？ "))
total = [ ]

while(len(total) != pages):
    target_list = web_spider(browser)
    
    if( target_list == [ ]):
        submit_elem = browser.find_element_by_xpath('//*[@id="button3"]')
        submit_elem.click()
        pass
    
    else:
        total.append(target_list)
        submit_elem = browser.find_element_by_xpath('//*[@id="button3"]')
        submit_elem.click()
    time.sleep(random.randint(0,2))
answer_df = DataFrame(total, columns = ["開盤價","最高價","最低價","收盤價","date"])
answer_df

要幾頁？ 3

    開盤價   最高價   最低價   收盤價        date
0  9500  9530  9422  9464  2020/04/06
1  9630  9665  9551  9575  2020/04/01
2  9533  9680  9450  9654  2020/03/31

In [11]:
answer_df = DataFrame(total, columns = ["開盤價","最高價","最低價","收盤價","date"])
answer_df

    開盤價   最高價   最低價   收盤價        date
0  9500  9530  9422  9464  2020/04/06
1  9630  9665  9551  9575  2020/04/01
2  9533  9680  9450  9654  2020/03/31

In [154]:
#file_path = "./tfx3.xlsx"
#writer = pd.ExcelWriter(file_path)
#answer_df.to_excel(writer,'Sheet1',encoding='utf-8')
#writer.save()